@using healthSystem.Models
@model ViewModel_BookAction
@{
    ViewBag.Title = "bookMain";
    employeeMainReportManage empMainReport = new employeeMainReportManage();
    string bookid = "";
    foreach (var item in Model.GetW_BookEmp) {
        bookid = item.book_Id;
    }
}


<div class="row shop-tracking-status">

    <div class="col-md-12">
        <div class="well">
            <div class="order-status">
                <div class="order-status-timeline">
                    <!-- class names: c0 c1 c2 c3 and c4 -->
                    <div class="order-status-timeline-completion c3"></div>
                </div>
                <div class="image-order-status image-order-status-new active img-circle">
                    <span class="status">收集資料</span>
                    <div class="icon"></div>
                </div>
                <div class="image-order-status image-order-status-active active img-circle">
                    <span class="status">填寫資料</span>
                    <div class="icon"></div>
                </div>

                <div class="image-order-status image-order-status-delivered active img-circle">
                    <span class="status">確認資料</span>
                    <div class="icon"></div>
                </div>
                <div class="image-order-status image-order-status-completed active img-circle">
                    <span class="status">送出資料</span>
                    <div class="icon"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@*@using healthSystem.ViewModel;
    @model basicDataHospitalMain
    @{
        ViewBag.Title = "hospitalSearch";
        healthSystem.Models.WorkId workId = new healthSystem.Models.WorkId();
        int hospitalID = 0;
        foreach (var x in Model.hospital)
        {
            hospitalID = x.hospital_hospitalId;
        }*@

<script>

    $(document).ready(function () {

        $('#description2').hide();
        $('#description3').hide();
        $('#description4').hide();

        $("#detal2").click(function () {

            $("#description2").slideToggle();

        });
        $("#detal3").click(function () {

            $("#description3").slideToggle();

        });
        $("#detal4").click(function () {

            $("#description4").slideToggle();

        });
    });

</script>
@*主檔*@
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    主檔-預約作業
                        
@foreach (var item in Model.GetW_BookEmp) {
    if (item.book_state == "處理中") {
        <form method="post" action="" style="display:inline">
            <input type="text" name="book_Id" value="@bookid" hidden />
            <input type="text" name="action" value="3" hidden />
            <button type="submit" class="btn btn-default btn-xs pull-right">
                <span class="glyphicon glyphicon-import">預約健檢</span>
            </button>
        </form>
    }
    if (Session["employee_role"].ToString() == "Y") {
        if (item.book_IsDisable == "N") {
            <form method="post" action="~/healthSystem/bookMain" style="display:inline">
                <input type="text" name="book_Id" value="@bookid" hidden />
                <input type="text" name="action" value="2" hidden />
                <button type="submit" class="btn btn-danger btn-xs pull-right">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </form>
        }
    }
    if (item.book_state != "結案" && item.book_state != "取消預約") {
        <form method="get" action="~/healthSystem/EditBook" style="display:inline">
            <input type="text" name="book_Id" value="@bookid" hidden />
            <button type="submit" class="btn btn-success btn-xs pull-right">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </form>
    }
}
                    <form method="get" action="~/healthSystem/newBook" style="display:inline">
                        <input type="text" name="action" value="0" hidden />
                        <button type="submit" class="btn btn-info btn-xs pull-right">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </form>
                    <a href="~/healthSystem/bookMaster" class="btn btn-warning btn-xs pull-right">
                        <span class="glyphicon glyphicon-arrow-left"></span> 回上頁
                    </a>
                </h3>
            </div>
            @foreach (var item in Model.GetW_BookEmp) {
                <div class="panel-body">
                    
                        <form>


                            <div class="row ">
                                <div class="col-md-6">

                                    <label class="label-info">員工基本資料</label>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label for="year">年度:</label>
                                            <input type="text" class="form-control" id="year" name="book_year" value="@item.book_year" readonly>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="employee_homesite">廠別</label>
                                            <input type="text" class="form-control" id="employee_homesite" name="employee_homesite" value="@item.employee_homeSite" readonly>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="employee_department">部門</label>
                                            <input type="text" class="form-control" id="employee_department" name="employee_department" value="@item.employee_department" readonly>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="employee_corporation">公司:</label>
                                            <input type="text" class="form-control" id="employee_corporation" name="employee_corporation" value="@item.employee_corporation" readonly>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="employee_name">姓名:</label>
                                            <input type="text" class="form-control" id="employee_name" name="employee_name" value="@item.employee_name" readonly>
                                        </div>


                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <label for="employee_WorkNumber">工號:</label>
                                            <input type="text" class="form-control" id="employee_WorkNumber" name="employee_WorkNumber" value="@item.employee_workNumber" readonly>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="employee_cellphone">手機:</label>
                                            <input type="text" class="form-control" id="employee_cellphone" name="employee_cellphone" value="@item.employee_cellphone" @((Model.GetAction == 0) ? "readonly" : "")>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="book_Notice">健檢(藥劑)通知:</label>
                                            @switch (item.book_Notice) {
                                                case 1:
                                                    <input type="text" class="form-control" id="book_Notice"
                                                           name="book_Notice" value='自取' @((Model.GetAction == 0) ? "readonly" : "")>
                                                    break;
                                                case 2:
                                                    <input type="text" class="form-control" id="book_Notice" name="book_Notice" value='廠內窗口寄送' @((Model.GetAction == 0) ? "readonly" : "")>
                                                    break;
                                                default:
                                                    <input type="text" class="form-control" id="book_Notice" name="book_Notice" value='寄送' @((Model.GetAction == 0) ? "readonly" : "")>

                                                    break;
                                            }
                                        </div>
                                        @if (item.book_Notice == 3) {
                                            <div class="col-md-12">
                                                @foreach (var address in Model.GetW_BookEmp) {
                                                    <label for="book_Notice">寄送地址:</label>
                                                    <input type="text" class="form-control" id="employee_mailingAddress"
                                                           name="employee_mailingAddress" value="@address.employee_mailingAddress" @((Model.GetAction == 0) ? "readonly" : "") />
                                                }
                                            </div>
                                        }

                                    </div>

                                    <label class="label-info">其他資料</label>
                                    <div class="form-group row">
                                        <div class="col-xs-5">
                                            <label for="book_note">備註:</label>
                                            <input type="text" class="form-control" id="book_note" name="book_note" value="@item.book_note" readonly>
                                        </div>
                                        <div class="col-xs-2">
                                            <label for="book_IsDisable">停用註記:</label>
                                            <input type="text" class="form-control" id="book_IsDisable" name="book_IsDisable" value="@item.book_IsDisable" readonly>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="book_updateUser">更新者:</label>
                                            <input type="text" class="form-control" id="book_updateUser" name="book_updateUser" value="@item.book_updateUser" readonly>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="book_updateDate">更新時間:</label>
                                            <input type="text" class="form-control" id="book_updateDate" name="book_updateDate" value='@(item.book_updateDate.HasValue ? Convert.ToDateTime(item.book_updateDate).ToShortDateString() :"")' readonly>
                                        </div>




                                        <div class="col-xs-3">
                                            <label for="book_welfare">今年可補助金額:</label>
                                            <input type="text" class="form-control" id="book_welfare" name="book_welfare" value="@item.book_welfare" readonly>
                                        </div>
                                        <div class="col-xs-3">
                                            <label for="book_host">承辦人:</label>
                                            <input type="text" class="form-control" id="book_host" name="book_host" value="@item.book_host" readonly>
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="book_hostTime">承辦時間:</label>
                                            <input type="text" class="form-control" id="book_hostTime" name="book_hostTime" value='@(item.book_hostTime.HasValue ? Convert.ToDateTime(item.book_hostTime).ToShortDateString() :"")' readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="label-info">預約資料</label>
                                    <div class="form-group row">
                                        <div class="col-xs-5">
                                            <label for="book_Id">預約編號:</label>
                                            <input type="text" class="form-control" id="book_Id" name="book_Id" value="@item.book_Id" readonly>
                                        </div>
                                        <div class="col-xs-3">
                                            <label for="book_state">處理狀態:</label>
                                            <input type="text" class="form-control" id="book_state" name="book_state" value="@item.book_state" readonly>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-5">
                                            <label for="hospitalName">醫院名稱:</label>
                                            <input type="text" class="form-control" id="hospitalName" name="book_hospitalId" value="@empMainReport.GEThospitalName(item.book_hospitalId)" readonly>
                                        </div>
                                        <div class="col-xs-7">
                                            <label for="book_ProgramName">健檢方案:</label>
                                            <input type="text" class="form-control" id="book_ProgramName" name="book_ProgramId" value="@empMainReport.GETprogramName(item.book_ProgramId)" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12">
                                            <label for="book_special">特殊檢查:</label>
                                            <input type="text" class="form-control" id="book_special" name="book_special" value="@item.book_special" @((Model.GetAction == 0) ? "readonly" : "")>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-3">
                                            <label for="book_exceptDate">期望體檢日:</label>
                                        </div>
                                        <div class="col-xs-12">
                                            <table>
                                                <tr>
                                                    <td><input type="date" class="form-control" id="book_exceptDate" name="book_exceptDate1" value='@(item.book_exceptDate1.HasValue ? Convert.ToDateTime(item.book_exceptDate1).ToString("yyyy-MM-dd"): "")' @((Model.GetAction == 0) ? "readonly" : "") /></td>
                                                    <td><input type="date" class="form-control" id="book_exceptDate" name="book_exceptDate2" value='@(item.book_exceptDate2.HasValue ? Convert.ToDateTime(item.book_exceptDate2).ToString("yyyy-MM-dd"):"")' @((Model.GetAction == 0) ? "readonly" : "") /></td>
                                                    <td><input type="date" class="form-control" id="book_exceptDate" name="book_exceptDate3" value='@(item.book_exceptDate3.HasValue ? Convert.ToDateTime(item.book_exceptDate3).ToString("yyyy-MM-dd") :"")' @((Model.GetAction == 0) ? "readonly" : "") /></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-4">
                                            <label for="book_Date">體檢日期:</label>
                                            <input type="date" class="form-control" id="book_Date" name="book_Date" value='@(item.book_Date.HasValue ? Convert.ToDateTime(item.book_Date).ToString("yyyy-MM-dd"): "")' readonly>
                                        </div>



                                        <div class="col-xs-4">
                                            <label for="book_costDate">費用日期:</label>
                                            <input type="date" class="form-control" id="book_costDate" name="book_costDate" value='@(item.book_costDate.HasValue ? Convert.ToDateTime(item.book_costDate).ToString("yyyy-MM-dd") :"")' @((Model.GetAction == 0 && Session["employee_role"].ToString() != "Y") ? "readonly" : "readonly")>
                                        </div>

                                        <div class="col-xs-4">
                                            <label for="book_cost">體檢費用:</label>
                                            <input type="number" class="form-control" id="book_cost" name="book_cost" value="@item.book_cost" readonly>
                                        </div>
                                    </div>

                                    <label class="label-info">預約-病史資料</label>
                                    <div class="form-group row">
                                        <div class="col-xs-12">
                                            <label for="book_medicalHistory">遺傳疾病史或慢性疾病:</label>
                                            <input type="text" class="form-control" id="book_medicalHistory" name="book_medicalHistory" value="@item.book_medicalHistory" @((Model.GetAction == 0) ? "readonly" : "")>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12">
                                            <label for="book_EatAspirin">服用阿斯匹靈/紅麴/銀杏:</label>
                                            <input type="text" class="form-control" id="book_EatAspirin" name="book_EatAspririn" value="@item.book_EatAspririn" @((Model.GetAction == 0) ? "readonly" : "")>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12">
                                            <label for="book_IsAllergy">藥物過敏:</label>
                                            <input type="text" class="form-control" id="book_IsAllergy" name="book_IsAllergy" value="@item.book_IsAllergy" @((Model.GetAction == 0) ? "readonly" : "")>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                </div>
            }
        </div>
    </div>
</div>
