@using healthSystem.Models;
@model ViewModel_BookEmp
@{
    ViewBag.Title = "bookMaster";
    employeeMainReportManage empMainReport = new employeeMainReportManage();
    Emp emp = new Emp();
    string employee_name = emp.Name(Session["employee_workNumber"].ToString());
}
<h3>主管預約健檢作業</h3>
<div class="row shop-tracking-status">

    <div class="col-md-12">
        <div class="well">
            <div class="order-status">
                <div class="order-status-timeline">
                    <!-- class names: c0 c1 c2 c3 and c4 -->
                    <div class="order-status-timeline-completion c3"></div>
                </div>
                <div class="image-order-status image-order-status-new active img-circle">
                    <span class="status">收集資料</span>
                    <div class="icon"></div>
                </div>
                <div class="image-order-status image-order-status-active active img-circle">
                    <span class="status">填寫資料</span>
                    <div class="icon"></div>
                </div>

                <div class="image-order-status image-order-status-delivered active img-circle">
                    <span class="status">確認資料</span>
                    <div class="icon"></div>
                </div>
                <div class="image-order-status image-order-status-completed active img-circle">
                    <span class="status">送出資料</span>
                    <div class="icon"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">條件查詢</h3>
    </div>
    <div class="panel-body">
        <form method="post" action="">
            <div class="form-group row">
                <div class="col-xs-4">
                    <label for="ex6">年度</label>
                    <select class="form-control" id="ex6" name="book_year">
                        @for (int i = -3; i < 1; i++) {
                            <option value="@DateTime.Now.AddYears(i).Year" @((DateTime.Now.AddYears(i).Year == (DateTime.Now).Year) ? "selected" : "")>@DateTime.Now.AddYears(i).Year</option>}
                    </select>
                </div>
                <div class="col-xs-4">
                    <label for="datepicker1">預約日期迄時</label>
                    <input type="date" class="form-control" id="datepicker1" name="startbook_date">
                </div>
                <div class="col-xs-4">
                    <label for="datepicker2">預約日期結束</label>
                    <input type="date" class="form-control" id="datepicker2" name="endbook_date">
                </div>
                <div class="col-xs-4">
                    <label for="ex6">處理狀態</label>
                    <select class="form-control" id="ex6" name="book_state">
                        <option disabled>查詢全部</option>
                        <option value=""></option>
                        <option>處理中</option>
                        <option>預約中</option>
                        <option>預約完成</option>
                        <option>結案</option>
                        <option>取消預約</option>
                    </select>
                </div>
                <div class="col-xs-4">
                    <label for="ex1">廠別</label>
                    <input type="text" class="form-control" id="ex1" name="employee_factoryId">
                </div>

                <div class="col-xs-4">
                    <label for="ex2">姓名</label>
                    <input class="form-control" id="ex2" type="text" name="employeeName" @((Session["employee_role"].ToString() != "Y")?
                            string.Format("value={0}", employee_name):"")
                        @((Session["employee_role"].ToString()!="Y")?"readonly" :"")>
                </div>
                <div class="col-xs-4">
                    <label for="ex3">工號</label>
                    <input type="text" class="form-control" id="ex3" name="employee_WorkNumber" @((Session["employee_role"].ToString() != "Y")?
                            string.Format("value={0}", Session["employee_workNumber"]):"")
                        @((Session["employee_role"].ToString()!="Y")?"readonly" :"")>

                                        </div>


                                        <div class="col-xs-4">
                    <label for="ex6">停用註記</label>
                    <select class="form-control" id="ex6" name="book_IsDisable">
                        <option value=""></option>
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                    </select>
                </div>
            </div>
            <input type="submit" class="btn btn-success btn-lg pull-right" value="送出查詢">
        </form>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">查詢結果</h3>
    </div>
    <div class="panel-body">
        <table class="table" style="overflow: auto;
	                                        height: 300px;
	                                        display: block;">
            <tr><th>預約單號</th><th>年度</th><th>姓名</th><th>預約日期</th><th>醫院名稱</th><th>預約狀況</th><th>停用註記</th><th>查詢</th></tr>
            @foreach (var row in Model.BookView)
            {
                <tr>
                    <td>@row.book_Id</td>
                    <td>@row.book_year</td>
                    <td>@row.employee_name</td>
                    <td>@Convert.ToDateTime(row.book_Date).ToShortDateString()</td>
                    <td>@empMainReport.GEThospitalName(row.book_hospitalId)</td>
                    <td>@row.book_state</td>
                    <td>@row.book_IsDisable</td>
                    <td>
                        <form method="get" action="/healthSystem/bookMain">
                                <input type="text" name="book_Id" value="@row.book_Id" hidden />
                                <button type="submit" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


