@using healthSystem.ViewModel;
@model healthSystemCheckCollectMaster
@{
    ViewBag.Title = "checkCollectMaster";
}
<div class="row form-group">
    <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified thumbnail setup-panel">
            <li class="active">
                <a href="#step-1">
                    <h4 class="list-group-item-heading">Step 1</h4>
                    <p class="list-group-item-text">健檢作業處理</p>
                </a>
            </li>
            <li>
                <a href="#step-2">
                    <h4 class="list-group-item-heading">Step 2</h4>
                    <p class="list-group-item-text">收集作業處理</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h4 class="list-group-item-heading">Step3 </h4>
                    <p class="list-group-item-text">下一步處理結案</p>
                </a>
            </li>

        </ul>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                健檢作業-處理中
            </h3>


        </div>
        <div class="panel-body">
            <table class="table" style="overflow: auto;
	                                        height: 300px;
	                                        display: block;">
                <tr><th>年度</th><th>健檢負責人</th><th>啟動狀況</th><th>狀態變更</th></tr>
                @foreach (var row in Model.beginSstartCheck)
                {
                    <tr>
                        <td>@row.start_year</td>
                        <td>@row.start_principal</td>
                        <td>@row.start_state</td>
                        <td>
                            <form method="post" action="/healthSystem/stateChange">
                                <input type="text" name="StartID" value="@row.Start_id" hidden />
                                <input type="text" name="startYear" value="@row.start_year" hidden />
                                <button type="submit" class="btn btn-success btn-xs">進入健檢收集</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>

<div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                健檢作業-健檢收集
            </h3>


        </div>
        <div class="panel-body" id="step-2">
            <table class="table" style="overflow: auto;
	                                        height: 300px;
	                                        display: block;">
                <tr><th>年度</th><th>健檢負責人</th><th>啟動狀況</th><th>編輯</th><th>狀態變更</th></tr>
                @foreach (var row in Model.startCheck)
                {
                    <tr>
                        <td>@row.start_year</td>
                        <td>@row.start_principal</td>
                        <td>@row.start_state</td>
                        <td>
                            <form method="post" action="/healthSystem/checkCollect">
                                <input type="text" name="collectMark" value="編輯待驗人員" hidden />
                                @{Session["StartID"] = row.Start_id;}
                                <input type="text" name="StartID" value="@row.Start_id" hidden />
                                <input type="text" name="startYear" value="@row.start_year" hidden />
                                <input type="text" name="saveSignal" value="1" hidden />
                                <button type="submit" class="btn btn-success btn-xs">編輯待驗人員</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="/healthSystem/stateChangeAndMail">
                                <input type="text" name="StartID" value="@row.Start_id" hidden />
                                <input type="text" name="startYear" value="@row.start_year" hidden />
                                <button type="submit" class="btn btn-success btn-xs">進入結案並寄送通知email</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>



