@using healthSystem.Models;
@model List<ReportManage>

@{
    reportManageUse find1 = new reportManageUse();

}

@{
    ViewBag.Title = "reportManageMaster";
}

<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">條件查詢</h3>
        </div>
        <div class="panel-body">

            <form method="post" action="/healthSystem/reportManageMaster">
                <div class="form-group row">
                   
                    <div class="col-xs-3">
                        <label for="ex1">工號</label>
                        <input class="form-control" id="ex1" type="text" name="ReportManage_workNumber">
                    </div>
                    <div class="col-xs-3">
                        <label for="ex2">停用註記</label>
                        <select class="form-control" id="ex2" name="ReportManage_IsDisable">
                            <option selected value="N">N</option>
                            <option value="Y">Y</option>
                            <option >查詢全部(提示文字)</option>
                           
                        </select>
                    </div>

                </div>

                <input type="submit" class="btn btn-success btn-lg pull-right" value="送出查詢">
            </form>

        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                查詢結果<a href="~/healthSystem/excelimport" class="btn btn-info btn-xs pull-right">
                    <span class="glyphicon glyphicon-import">報告匯入</span>
                </a>
            </h3>
        </div>
        <div class="panel-body">
            <table class="table" style="overflow: auto;
	                                        height: 300px;
	                                        display: block;">
                <tr><th>報告編號</th><th>年度</th><th>工號</th><th>姓名</th><th>健檢類別</th><th>醫院名稱</th><th>停用註記</th></tr>
                @foreach (var row in Model)
                {
                    <tr>
                        <td>@row.ReportManage_id</td>
                        <td>@find1.GEThosDate(row.report_id)</td>
                        <td>@find1.GETreportNM(row.report_id)</td>
                        <td>@find1.GETreportWN(row.report_id)</td>
                        <td>@find1.GETProgramName(row.ReportManage_programId)</td>
                        <td>@find1.GETHosName(row.ReportManage_hospitalId)</td>
                        <td>@row.ReportManage_IsDisable</td>
                        <td>
                            <form method="post" action="/healthSystem/reportManageMain">
                                <input type="text" name="ReportManage_id" value="@row.ReportManage_id" hidden />
                                <button type="submit" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>