@using healthSystem.ViewModel;
@model healthSystemStartCheckMaster
@{
    ViewBag.Title = "StartCheckMaster";
}

<div class="col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                條件查詢
            </h3>
        </div>
        <div class="panel-body">
            <form method="post" action="">
                <div class="form-group row">
                    <div class="col-xs-4">
                        <label for="ex6">年度</label>
                        <select class="form-control" id="ex6" name="start_year">
                            @foreach(var row in Model.year)
                            {
                                <option>@row</option>
                            }
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <label for="ex6">啟用狀態</label>
                        <select class="form-control" id="ex6" name="start_state">
                            <option></option>
                            <option>處理中</option>
                            <option>健檢收集</option>
                            <option>結案</option>
                        </select>
                    </div>
                    <div class="col-md-push-4">
                        <br />
                        <input type="submit" class="btn btn-info btn-lg" value="送出查詢">
                        <a href="~/healthSystem/newStartCheck" class="btn btn-success  btn-lg">
                            <span style="color:white">發起健檢</span>
                        </a>
                    </div>
                </div>
               
            </form>
            
        </div>
    </div>

</div>
<div class="col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">查詢結果</h3>
        </div>
        <div class="panel-body">
            <table class="table" style="overflow: auto;
	                                        height: 300px;
	                                        display: block;">
                <tr><th>年度</th><th>健檢負責人</th><th>啟動狀況</th></tr>
                @foreach (var row in Model.startCheck)
                {
                    <tr>
                        <td>@row.start_year</td>
                        <td>@row.start_principal</td>
                        <td>@row.start_state</td>
                        <td>
                            <form method="post" action="/healthSystem/StartCheckMain">
                                <input type="text" name="Start_id" value="@row.Start_id" hidden />
                                <button type="submit" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
