@using healthSystem.Models;
@model ViewModel_empAu
@{
    ViewBag.Title = "purviewMain";
    Emp emp = new Emp();
    string authority_updateuser = "";
    DateTime authority_updateTime = new DateTime();
    string updateTime = "";
    DateTime temp_updateTime = new DateTime();
    foreach (var item1 in Model.AuthView)
    {
        if (item1.authority_updateTime >= temp_updateTime)
        {
            authority_updateuser = item1.authority_updateuser;
            temp_updateTime = Convert.ToDateTime(item1.authority_updateTime);
        }
    }
    if (string.IsNullOrEmpty(authority_updateuser))
    {
        updateTime = "";
    }
    else
    {
        authority_updateTime = temp_updateTime;
        updateTime = temp_updateTime.ToString();
    }

}
@*主檔*@
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    主檔@*<a href="#" class="btn btn-info btn-xs pull-right">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a><a href="#" class="btn btn-warning btn-xs pull-right">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a><a href="#" class="btn btn-danger btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>*@
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover" id="dev-table">
                    <tr>

                        <th>廠別</th>
                        <th>姓名</th>
                        <th>帳號</th>
                        <th>Email</th>
                        <th>管理人員</th>
                        <th>工號</th>
                        <th>集團ID</th>
                        <th>停用註記</th>
                        <th>更新者</th>
                        <th>更新時間</th>
                        @*<th>編輯</th>
                            <th>刪除</th>*@
                    </tr>
                    <tr>
                        @foreach (var item in Model.EmpView)
                    {

                        <td>@item.employee_factoryId-@emp.GetFactoryName(item.employee_factoryId)</td>
                            <td>@item.employee_name</td>
                            <td>@item.employee_username</td>
                            <td>@item.employee_email</td>
                            <td>@item.employee_role</td>
                            <td>@item.employee_workNumber</td>
                            <td>@item.employee_groupId</td>
                            <td>@item.employee_isDisabled</td>
                    }
                    @*@foreach (var item1 in Model.AuthView) {
                            if(string.IsNullOrEmpty(item1.authority_updateuser))
                        <td>@item1.authority_updateuser</td>
                        <td>@item1.authority_updateTime </td>*@
                    <td>@authority_updateuser</td>
                    <td>
                        @updateTime
                </td>
                @*}*@
                @*<td><span><button class="btn btn-info btn-xs editItem"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></span></td>
                    <td><form action="~/basicData/purviewMaster"><span><button class="btn btn-danger btn-xs deleteItem"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></span></form></td>*@
            </tr>
        </table>
    </div>
</div>
</div>
</div>

@*明細檔-帳號*@

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-success">

            <div class="panel-heading">
                <h3 class="panel-title">
                    明細檔 - 帳號
                </h3>


            </div>
            <div class="panel-body">

                <table class="table table-hover" id="dev-table">
                    <tr>
                        <th>工號</th>
                        <th>姓名</th>
                        <th>帳號</th>
                    </tr>

                    <tr>
                        @foreach (var item in Model.EmpView)
                        {
                            <td>@item.employee_workNumber</td>
                                <td>@item.employee_name</td>

                            if (Session["employee_role"].ToString() == "Y" && string.IsNullOrEmpty(item.employee_username))
                            {
                                <td>

                                    <form method="post" action="~/basicData/Register/">
                                        <input type="text" name="employee_workNumber" value="@Session["employee_acc"]" hidden />
                                        <span>
                                            <button class="btn btn-info btn-xs" type="submit">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true">
                                                </span>
                                            </button>
                                        </span>
                                    </form>

                                </td>
                            }
                            if (!string.IsNullOrEmpty(item.employee_username))
                            {
                                <td>@item.employee_username</td>}

                            @*<td><span><button class="btn btn-info btn-xs editItem"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></span></td>
                                <td><span><button class="btn btn-danger btn-xs deleteItem"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></span></td>*@
                        }
                    </tr>
                </table>

            </div>
        </div>
    </div>


    @*明細檔-健檢方案*@
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <form method="get" action="~/basicData/EditfactoryAuthority">
                    <h3 class="panel-title">
                        明細檔-廠別權限
                        @foreach (var item in Model.EmpView)
                        {
                            <input type="text" name="employeeworkNumber" value="@item.employee_workNumber" hidden />}
                        @if (Session["employee_role"].ToString() == "Y")
                        {
                            <button class="btn btn-info btn-xs pull-right" type="submit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        }
                    </h3>
                </form>
            </div>
            <div class="panel-body">
                <table class="table table-hover" id="dev-table">

                    <tr>

                        <th>地區</th>
                        <th>廠別</th>
                        @*<th>刪除</th>*@
                    </tr>

                    @foreach (var item1 in Model.AuthView)
                    {
                        <tr>

                            <td>@emp.GetFactoryArea(item1.authority_factoryId)</td>
                            <td>@item1.authority_factoryId-@emp.GetFactoryName(item1.authority_factoryId)</td>
                            @*<td><span class=""><button class="btn btn-danger btn-xs deleteItem"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></span></td>*@
                        </tr>}


                </table>
            </div>
        </div>
    </div>
</div>
