@using healthSystem.ViewModel;
@model basicDataHospitalMain
@{
    ViewBag.Title = "hospitalSearch";
    healthSystem.Models.WorkId workId = new healthSystem.Models.WorkId();
    int hospitalID = 0;
    foreach (var x in Model.hospital)
    {
        hospitalID = x.hospital_hospitalId;
    }
}
@*主檔*@
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    主檔
                    <a href="~/basicData/newhospital" class="btn btn-info btn-xs pull-right">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <a href="~/basicData/edithospital" class="btn btn-success btn-xs pull-right">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="~/basicData/hospitalMaster" class="btn btn-warning btn-xs pull-right">
                        <span class="glyphicon glyphicon-arrow-left"></span> Left
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="panel-body">
                    @foreach (var row in Model.hospital)
                    {
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label for="email">醫院名稱:</label>
                                <input type="text" class="form-control" id="email" name="hospital_name" readonly value="@row.hospital_name">
                            </div>
                            <div class="col-md-3">
                                <label for="email">統一編號:</label>
                                <input type="text" class="form-control" id="email" name="hospital_uniform" readonly value="@row.hospital_uniform">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="email">地址:</label>
                                <input type="text" class="form-control" id="email" name="hospital_address" readonly value="@row.hospital_address">
                            </div>
                            <div class="col-xs-2">
                                <label for="sel1">停用註記:</label>
                                <input type="text" class="form-control" id="email" name="hospital_state" readonly value="@row.hospital_state">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-3">
                                <label for="email">聯絡窗口:</label>
                                <input type="text" class="form-control" id="email" name="hospital_contact" readonly value="@row.hospital_contact">
                            </div>
                            <div class="col-xs-3">
                                <label for="email">連絡電話:</label>
                                <input type="text" class="form-control" id="email" name="hospital_phone" readonly value="@row.hospital_phone">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-3">
                                <label for="email">網址:</label>
                                <input type="text" class="form-control" id="email" name="hospital_website" readonly value="@row.hospital_website">
                            </div>
                            <div class="col-xs-3">
                                <label for="email">email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" name="hospital_email" readonly value="@row.hospital_email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-3">
                                <label for="email">更新者:</label>
                                <input type="text" class="form-control" id="email" name="hospital_updateuser" readonly value="@row.hospital_updateuser">
                            </div>
                            <div class="col-xs-3">
                                <label for="email">更新時間:</label>
                                <input type="text" class="form-control" id="email" name="hospital_updatetime" readonly value="@row.hospital_updatetime">
                            </div>
                        </div>
                    }
                </div>
                @*<table class="table" style="overflow: auto;
	                                        height: 300px;
	                                        display: block;">
                    <tr><th>醫院名稱</th><th>地址</th><th>聯絡窗口</th><th>連絡電話</th><th>統一編號</th><th>網址</th><th>email</th><th>停用註記</th><th>更新者</th><th>更新時間</th></tr>
                    @foreach (var row in Model.hospital)
                    {
                        <tr>
                            <td>@row.hospital_name</td>
                            <td>@row.hospital_address</td>
                            <td>@row.hospital_contact</td>
                            <td>@row.hospital_phone</td>
                            <td>@row.hospital_uniform</td>
                            <td>@row.hospital_website</td>
                            <td>@row.hospital_email</td>
                            <td>@row.hospital_state</td>
                            <td>@row.hospital_updateuser</td>
                            <td>@row.hospital_updatetime</td>
                        </tr>
                    }
                </table>*@
            </div>
        </div>
    </div>
</div>

@*明細檔-附件管理*@
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">

                    明細檔-附件管理<a href="~/basicData/FileUpload" class="btn btn-info btn-xs pull-right">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                   

                </h3>


            </div>
            <div class="panel-body" style="overflow:scroll; height:300px;">

                <table class="table table-hover" id="dev-table">
                    <thead>
                        <tr>

                            @*<th>檔案名稱</th>
                                <th>醫院編號</th>*@
                            <th>檔案名稱</th>
                            <th>描述</th>
                            <th>編輯</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in Model.File)
                        {
                            <tr>
                                @*<td>@file.file_fileId</td>
                                    <td>@file.file_hospitalId</td>*@
                                <td>@row.hos_FileName</td>
                                <td>@row.file_content</td>
                                <td>
                                    @*編輯*@
                                    @*<a href="~/basicData/FileUploadEdit/@row.file_fileId" class="btn btn-success btn-xs pull-right">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>*@
                                    @using (@Html.BeginForm("FileUploadEdit", "basicData", FormMethod.Get, new { @class ="" }))
                                    {
                                        @Html.Hidden("file_fileId", row.file_fileId)@*等於input隱藏欄位*@
                                        <span><button type="submit" class="btn btn-success btn-xs pull-right"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></span>

                                    }
                                </td>

                                @*刪除*@
                                <td>
                                    @using (@Html.BeginForm("FileUploadDelete", "basicData", FormMethod.Post, new { @class = "delete" }))
                                    {
                                        @Html.Hidden("file_fileId", row.file_fileId)
                                        <span><button type="submit" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></span>

                                    }




                                </td>
                                @*下載動作*@
                                <td>
                                    @Html.ActionLink("download", "DownloadFile"
, new { Id = row.file_fileId }, new { @class = "btn btn-default btn-xs" })


                                </td>


                            </tr>


                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
