@{
    healthSystem.Models.Emp emp = new healthSystem.Models.Emp();
    string emp_name = "";
    string rolename1 = "";


    if (Session["Employee_workNumber"] != null)
    {
        string emp_id = Session["Employee_workNumber"].ToString();

        emp_name = emp.Name(emp_id);
        if (Session["employee_role"].ToString() == "Y")
        {

            rolename1 = "系統管理者";

        }
        else
        {

            rolename1 = "使用者";
        }
    }


}




<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jasny-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font.css" rel="stylesheet" />
    <script src="http://tristanedwards.me/u/SweetAlert//lib/sweet-alert.js"></script>
    <link rel="stylesheet" type="text/css" href="http://tristanedwards.me/u/SweetAlert//lib/sweet-alert.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    <script src="~/scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/flow.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/jumbo.css" rel="stylesheet" />
    <style>
        body {
            margin-top: 20px;
        }
    </style>

    <link href="~/Content/loading.css" rel="stylesheet" />
    <script>
     $(window).load(function () {
         $(".bg_load").fadeOut("8000");
         $(".wrapper").fadeOut("8000");
     })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('mySelect').change(function () {
                myform.sumit();
            });
        });
        //window.onload = function () {
        //    document.forms['myform'].addEventListener('change', function () {
        //        this.submit();
        //    }, true);
        //};
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("寶成國際", "welcomePage", "member", new { area = "" }, new { @class = "navbar-brand" })
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        @if (Session["employee_role"].ToString() == "Y")
                        {
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">基礎資料管理<b class="caret"></b></a> @*b是箭頭*@
                            <ul class="dropdown-menu">
                                <li><a href="~/basicData/purviewMaster">人員權限管理</a></li>
                                <li><a href="~/basicData/employeeMaster">人事資料管理</a></li>
                                <li><a href="~/basicData/hospitalMaster">醫院及方案設定</a></li>
                            </ul>
                        }
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">健檢系統 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (Session["employee_role"].ToString() == "Y") { 
                            <li><a href="~/healthSystem/StartCheckMaster">健檢作業管理</a></li>
                            <li><a href="~/healthSystem/checkCollectMaster">收集作業管理</a></li>
                            <li><a href="~/healthSystem/reportManageMaster">健檢報告管理</a></li>}
                            @if(Session["employee_role"].ToString()=="Y" || Session["employee_role"].ToString() == "M") { 
                            <li><a href="~/healthSystem/bookMaster">高級主管查詢/修改</a></li>}
                        </ul>
                        
                    </li>
                    <li class="dropdown">
                        @if (Session["employee_role"].ToString() == "M") {
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">高級主管 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/healthSystem/bookMaster">預約查詢</a></li>
                                <li><a href="~/healthSystem/newBook">高級主管預約</a></li>
                            </ul>
                        }
                    </li> 
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-male" aria-hidden="true"></i>@rolename1</a></li>
                    @if (string.IsNullOrEmpty(emp_name))
                    {
                        <li><a href="~/member/login"><span class="glyphicon glyphicon-user"></span>請登入</a></li>
                    }
                    else
                    {
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>@emp_name</a></li>}
                    <li><a href="~/member/logout"><span class="glyphicon glyphicon-log-in"></span>員工登出</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="wrapper">
        <div class="inner">
            <span>L</span>
            <span>o</span>
            <span>a</span>
            <span>d</span>
            <span>i</span>
            <span>n</span>
            <span>g</span>
        </div>
    </div>

</body>
</html>